@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

:root {
    --color-brand: #f4f4f4;
    --color-primary-dark: #011c44;
    --color-primary-light: #2b7fff;
    --color-brand-dark: #000000;
    --color-brand-light: #4a4a4a;
    --color-thirdth: #ffffff;
    --color-fourth: #747272;
}

ul {
    list-style-type: none;
}

/*Body*/
.body {
    color: var(--color-primary-dark);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
}

address {
    font-style: normal;
}

/*Button*/
.button {
    color: var(--color-brand);
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    border-radius: 32px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
}


/*Link*/
.link {
    color: var(--color-primary-dark);
    font-size: 18px;
    line-height: 1.17;


}

.link:hover {
    color: var(--color-primary-light);
    font-weight: 700;
}

/*Hero-title*/
.hero-title {
    color: var(--color-primary-light);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 1.2;
}

.title {
    color: var(--color-brand-light);
    font-size: 12px;
    line-height: 1.5;
}

/*Section*/
.brand {
    font-weight: 600;
    text-transform: capitalize;
}

.list {
    color: var(--color-primary-dark);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
}

.list-color {
    color: var(--color-primary-light);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
}

.formating-section {
    color: var(--color-primary-dark);
    font-size: 18px;
    line-height: 1.3;
}

.list-page {
    color: var(--color-thirdth);
    line-height: 1.1;
}

/*Address*/

.address {
    color: var(--color-thirdth);
    font-size: 16px;
    line-height: 1.1;
}

.address-copyright {
    color: var(--color-fourth);
    font-size: 13px;
    line-height: 1.1;
}