@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
@keyframes spin {
    from{ transform: rotate(0);}
    to {transform: rotate(360deg);}
}

:root {
    --color-brand: #f4f4f4;
    --color-primary-dark: #011c44;
    --color-primary-light: #2b7fff;
    --color-brand-dark: #000000;
    --color-brand-light: #4a4a4a;
    --color-thirdth: #ffffff;
    --color-fourth: #747272;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding: 48px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 1501px;
    margin: 0 auto;
    padding: 0 24px;
}

/*Body*/
* {
    box-sizing: border-box;
}

.body {
    color: var(--color-primary-dark);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;

}

address {
    font-style: normal;
}

/*Header*/
.aheader-container{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 106px;
            padding-top: 32px;
            backdrop-filter: blur(10px);
                background: rgba(255, 255, 255, 0.25);
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 100%;
}

.header-nav {
    flex-grow: 1;
    align-items: center;
    display: flex;
    gap: 40px;
    
}

.header-menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 240px;
}
.header-icons{
    display: flex;
    justify-content: right;
    gap: 32px;
    flex-grow: 1;
}
.atitle {
    display: block;
    max-width: 520px;
    margin: 0 auto 40px;

}
.hero-text{
    margin: 16px;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.16;

}

/*Button*/
.button {
    font-family: "Roboto", sans-serif;
    margin-bottom: 14px;
    color: var(--color-brand);
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    border-radius: 32px;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
}


/*Link*/
.link {
    color: var(--color-primary-dark);
    font-size: 18px;
    line-height: 1.17;
}

.link:hover {
    color: var(--color-primary-light);
    font-weight: 700;
}

/*Hero-title*/
.main-container {
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        position: relative;
            width: 660px;
            margin-bottom: 43px;

}

.hero-background {
    padding: 272px 0;
    background-image: url(./Image/main.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title {
    display: block;
    margin: 14px 0;
    color: var(--color-primary-light);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 1.22;
}

.title {
    margin: 14px 0;
    color: var(--color-brand-light);
    font-family: "Roboto", sans-serif;
        font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

/*Section*/
.brand {
    font-weight: 600;
    text-transform: capitalize;
}

.reasons-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-grow: 1;
}
.background{
    background-image: url(./Image/background\ \(1\).jpg);
 position: relative;
 background-repeat: no-repeat;
 background-size: cover;
transform: translate(0%, -15%);
width: 1460px;
height: 750px;
}
.background-size{
    height: 620px;
}
.back{
    position: relative;
    transform: translate(0%, 65%);
    margin-bottom: 50px;
}
.format-container {
    height: 181px;
    width: 316px;
    border-radius: 32px;
    background-color: var(--color-thirdth);
    box-shadow: 0px 3px 3px 1px rgba(168, 198, 245, 0.38);

}

.color-icon{
    fill: var(--color-primary-light);
}
.format-card{
    position: relative;
width: 252px;
    height: 133px;
    top: 24px;
    left: 32px;
    font-weight: 300;
        font-size: 14px;
        color: var(--color-primary-dark);
        font-size: 18px;
        line-height: 1.3;
        text-align: center;  
}

.format-title{
    margin: 0;
}
/*Procedures*/
.procedures-container {
    width: 1460px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.list {
    margin-bottom: 48px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
        width: 1460px;
}

.link.accent {
    color: var(--color-primary-dark);
}

.list.centered {
    text-align: center;
}

.list-color {
    color: var(--color-primary-light);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
}

.list-page {
    display: flex;
    gap: 20px;
    justify-content: center;
    line-height: 1.1;
}

.photo-thirdth {
    background-image: url(./Image/face1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 272px 0;
        border-radius: 4px 120px;
        width: 344px;
        height: 456px;
background-image: linear-gradient(180deg,
            rgba(1, 28, 68, 0) 0%, rgba(1, 28, 68, 0.73) 73%, rgb(1, 28, 68) 100%, var(--color-primary-dark)100%);
}

.photo-one {
    background-image: url(./Image/massage1.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 272px 0;
        border-radius: 4px 120px;
        width: 344px;
            height: 456px;
            background-image: linear-gradient(180deg,
                        rgba(1, 28, 68, 0) 0%, rgba(1, 28, 68, 0.73) 73%, rgb(1, 28, 68) 100%, var(--color-primary-dark)100%);
}


.photo-two{
    background-image: url(./Image/needle1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 272px 0;
        border-radius: 4px 120px;
        width: 344px;
            height: 456px;
            background-image: linear-gradient(180deg,
                        rgba(1, 28, 68, 0) 0%, rgba(1, 28, 68, 0.73) 73%, rgb(1, 28, 68) 100%, var(--color-primary-dark)100%);
}


/*Beauty*/
.beauty-container {
    display: flex;
    gap: 40px;
}

.beauty-content {
    gap: 40px;
    max-width: 710px;
}
.beauty-title {
    position: relative;
    width: 327px;
        height: 327px;
border-radius: 100%;
top: -40px;
}
.beauty-atitle{
    position: relative;
width: 343px;
    height: 328px;
    left: 175px;
    border-radius: 100%;
}

.beauty-photo{
    position: relative;
    width: 499px;
        height: 695px;
}

.star-one{
    position: relative;
    top: -360px;
    left: 130px;
    width: 64px;
        height: 64px;
        animation-name: spin;
            animation-duration: 10s;
            animation-iteration-count: 5;
    }
.color-one{
fill: var(--color-primary-dark);
}

.star-two{
    position: relative;
        top: -750px;
        left: 490px;
        width: 40px;
        height: 40px;
        animation-name: spin;
            animation-duration: 10s;
            animation-iteration-count: 5;
}
.color-two{
fill: var(--color-primary-light);
}

.star-three{
    position: relative;
        top: -540px;
        left: 490px;
        width: 40px;
        height: 40px;
        animation-name: spin;
            animation-duration: 10s;
            animation-iteration-count: 5;
}

/*Mapa*/
.location-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    background-color: var(--color-primary-dark);
    width: 423px;
    height: 481px;
    border-radius: 32px 32px;
}
.locals-container{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.contact-map {
    width: 605px;
    height: 481px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.gift-title{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 22px;
    line-height: 1.17;
    text-align: center;
    color: var(--color-thirdth);
}

.local-container{
    display: flex;
    justify-content: center;
        gap: 32px;
}

/*Footer*/
* {
    text-decoration: none;
}

.footer {
    position: relative;
    background-color: var(--color-primary-dark);
    
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.footer::after {
    bottom: 0px;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    width: 250px;
    height: 155px;
    right: 0;
    background-image: url(./Image/decor-bottle.png);
}

.text-size{
    position: relative;
    margin-top: 56px;

    max-width: 203px;

}

/*Address*/

.address {
    color: var(--color-thirdth);
    font-size: 16px;
    line-height: 1.1;
}

.address-copyright {
    color: var(--color-fourth);
    font-size: 13px;
    line-height: 1.1;
}

.address-icon{
    fill:var(--color-thirdth) ;
}

.header-icon{
    fill: var(--color-primary-dark);
}
.icon-text{
    display: flex;
    gap: 24px;
    margin: 16px;
    left: -20px;
}
/*Carousel*/

.carousel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor:pointer;
}
.carousel-arrow{
fill: var(--color-primary-dark);
}
.carousel-button:hover{
    background-color: var(--color-primary-light);
        border: 1px solid var(--color-brand);
}
.carousel-button:hover .carousel-arrow{
    fill: var(--color-brand);

}
.carousel-button.arrow {
    transform: rotate(180deg);
}

/*Modal*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: absolute;
    width: 723px;
    height: 681px;
    padding: 20px;
    background-color: var(--color-primary-dark);
    border-radius: 48px;
    padding-top: 40px;
}
.modal-form{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.modal-btn-close {
    position: absolute;
    top: 30px;
    right: 30px;
    fill: var(--color-thirdth);
    background-color: var(--color-primary-dark);
    border: none;
}
.modal-call{
    font-family: 'Play';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
    text-align: center;
    color: var(--color-thirdth);
}
.modal-gift{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 22px;
    line-height: 1.17;
    text-align: center;
    color: var(--color-thirdth);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.blue-span{
    color: var(--color-primary-light);
    font-size: 22px;
        line-height: 1.17;
}

/*Form*/
.form-field {
    margin-bottom: 24px;

}

.form-label {
    display: block;
    height: 5px;
}

.form-input {
    padding: 16px 42px;
    height: 52px;
        width: 310px;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-thirdth);
    border: 2px solid var(--color-fourth);
    border-radius: 32px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-fourth);
    outline: none;
}
.form-input:hover{
    background-color: var(--color-fourth);
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 13px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-thirdth);
}

.form-button {
    display: block;
}
.form-button:hover{
    color: var(--color-thirdth);
}

.form-terms {
    color: var(--color-fourth);
    margin: 0 auto;
    max-width: 220px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-fourth);
    text-decoration-line: underline;
    text-underline-offset: 2px;
}