.hero-section {
    padding:  100px 0 0 0;
    background-image: url(./image/main-background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-resolution: 192dpi){
        background-image: url(./image/main-background@2x.png);
        }


    &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

}
&__text {
    display: block;
    margin: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;

    @media screen and (max-width: $bp-tablet) {
            margin: 0 auto;
        }

}
&__title {
    display: block;
    margin: 14px 0;
    color: var(--color-primary-light);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.17;
    
    @media screen and (min-width: $bp-tablet) {
            font-size: 140px;
            line-height: 1.22;
        }

                @media screen and (max-width: $bp-tablet) {
                    margin: 0 auto;
                }
}
&__atitle {
    display: block;
    max-width: 520px;
    margin: 0 auto 40px;

    @media screen and (max-width: $bp-tablet) {
            margin: 0 auto 32px;
        }
}

&__titles {
    margin: 14px 0;
    color: var(--color-brand-light);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;

    @media screen and (max-width: $bp-tablet) {
        margin: 0 auto;
            margin-top: 8px;
        }
}

&__button{
    @media screen and (max-width: $bp-tablet) {
        margin: 0 auto;
        }
}

}






